@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(206.97deg, #f8e1e1 40.13%, #fffdfd 75.56%);
  @apply bg-no-repeat
}
